# RHDH Application Configuration - contains Backstage app-config.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  annotations:
    rhdh.redhat.com/backstage-name: developer-hub
  labels:
    rhdh.redhat.com/ext-config-sync: "true"
  name: app-config-rhdh
  namespace: rhdh
data:
  app-config-rhdh.yaml: |
    app:
      title: Red Hat Developer Hub
      baseUrl: ${BACKEND_URL}
    signInPage: oidc
    auth:
      environment: production
      providers:
        oidc:
          production:
            metadataUrl: ${KEYCLOAK_BASE_URL}/realms/${KEYCLOAK_REALM}/.well-known/openid-configuration
            clientId: ${KEYCLOAK_CLIENT_ID}
            clientSecret: ${KEYCLOAK_CLIENT_SECRET}
            prompt: auto
        github:
          production:
            clientId: ${GITHUB_INTEGRATION_CLIENT_ID}
            clientSecret: ${GITHUB_INTEGRATION_CLIENT_SECRET}
            disableIdentityResolution: true
      externalAccess:
      - options:
          subject: orchestrator
          token: ${BACKEND_SECRET}
        type: static
    backend:
      auth:
        keys:
        - secret: ${BACKEND_SECRET}
      cors:
        origin: ${BACKEND_URL}
      baseUrl: ${BACKEND_URL}
    catalog:
      providers:
        keycloakOrg:
          default:
            baseUrl: ${KEYCLOAK_BASE_URL}
            loginRealm: ${KEYCLOAK_REALM}
            realm: ${KEYCLOAK_REALM}
            clientId: ${KEYCLOAK_CLIENT_ID}
            clientSecret: ${KEYCLOAK_CLIENT_SECRET}
            schedule:
              frequency:
                minutes: 5
              timeout:
                minutes: 3
              initialDelay:
                seconds: 15
        github:
          providerId:
            organization: "${GITHUB_INTEGRATION_ORGANIZATION}"
            schedule:
              frequency:
                minutes: 30
              initialDelay:
                seconds: 15
              timeout:
                minutes: 15
        githubOrg:
          id: production
          githubUrl: "${GITHUB_INTEGRATION_HOST_DOMAIN}"
          orgs:
            - ${GITHUB_INTEGRATION_ORGANIZATION}
          schedule:
            frequency:
              minutes: 30
            initialDelay:
              seconds: 15
            timeout:
              minutes: 15
    integrations:
      github:
        - host: "${GITHUB_INTEGRATION_HOST_DOMAIN}"
          apps:
            - appId: ${GITHUB_INTEGRATION_APP_ID}
              clientId: ${GITHUB_INTEGRATION_CLIENT_ID}
              clientSecret: ${GITHUB_INTEGRATION_CLIENT_SECRET}
              privateKey: |
                ${GITHUB_INTEGRATION_PRIVATE_KEY_FILE}
