apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: developer-hub-configs

resources:
- rhdh-operator.yaml
- rhdh-instance.yaml

commonLabels:
  config.openshift.io/component: developer-hub
  config.openshift.io/managed-by: gitops
